.main_confirm{
    margin: 50px 30px;
    font-size: 12px;
    font-family: sans-serif;

    .Confirm_heading{
        font-size: 14px;
        line-height: 16px;
        color: #343538;
        font-weight: 700;
        margin-bottom: 5px;
        display: flex;
    
    }
    .Confirm_img{
        height: 140px;
        width: 130px;
        margin-bottom: 10px;
    }
    .Confirm_ptag{
        margin-bottom: 5px;

    }

}