*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.central_div_mbl{

.cont_contact_mbl{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 20px;
    color: #292929;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;


    
}

#materialbtn4{

        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px;
    }

}
    
